@model IEnumerable<WebProject.Models.Facility>

@{
    ViewBag.Title = "Facility";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


    <h2>Lokaler</h2>

    <p>
        @Html.ActionLink("Skapa ny", "FacilityCreate")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fk_Place)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fk_Place)
                </td>
                <td>
                    @Html.ActionLink("Ändra", "FacilityEdit", new { id = item.Id }) |
                    @Html.ActionLink("Radera", "FacilityDelete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>