@model List<WebProject.Models.MyEventModel>
@{
    ViewBag.Title = "MyEvent";
}
<link href="~/Custom/OrganizerLayout.css" rel="stylesheet" />
<h2 class="h2_heading">My Events</h2>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-sm rounded">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Category</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Date Created</td>
                    <td>Ticket Price</td>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Event_Name</td>
                    <td>@item.Event_Description</td>
                    <td>@item.Event_Category.Category_Name</td>
                    <td>@item.endDateTime</td>
                    <td>@item.Event_End_Datetime</td>
                    <td>@item.Event_Create_Datetime</td>
                    <td>@item.Event_Ticket_Price</td>
                </tr>
            }
        </table>
    </div>
    
</div>
    
    


