@model List<WebProject.Models.Events>
@{
    ViewBag.Title = "Mina Event";
}
<link href="~/Custom/OrganizerLayout.css" rel="stylesheet" />
<h2 class="h2_heading">@ViewBag.Title</h2>
<input class="form-control" type="text" placeholder="Sök Event ..." id="eventFilter"/>

<div class="row row-cols-1 row-cols-md-3 my-2">
    @foreach (var item in Model)
    {
        <div class="col mb-4 card-container">
            <div class="card">
                <img src="@item.Event_Imagelink" class="card-img-top" alt="Event Image">
                <div class="card-body">
                    <h5 class="card-title">@item.Event_Name</h5>
                    <h6>@item.Event_Category.Category_Name</h6>
                    <p class="card-text">@item.Event_Description</p>                  
                    <small>@item.Event_Start_Datetime - @item.Event_End_Datetime</small>
                    <br />
                    <p style="font-weight: bold;">Pris: @item.Event_Ticket_Price kr.</p>
                </div>
            </div>
        </div>
    }
    </div>






